*.o
.cache/
.vscode-server/
.wget-hsts
.motd_shown
.bash_history
.bashrc
.profile

# Ignore all object files (.o)
*.o

# Ignore all executables (task* for all variations)
task*

# Ignore core dumps (in case of a crash)
core


